*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto sans-serif ;
}

nav{
    color: #333;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding-bottom: 10px;
}

#logo{
    display: flex;
    font-size: 30px;
}

.nav-links{
    display: flex;
    list-style: none;
    cursor: pointer;
}
.nav-links li {
    padding-left: 20px;
    margin-right: 15px;
}
.nav-links li:hover{
    color: tomato;
}

body{
    background-color: #333333;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 auto;
      height: 80%;
  }
  
  .heading{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    color: whitesmoke;
  }
  .row {
      display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      justify-content: center;
    }
    
    /* Create four equal columns that sits next to each other */
    .column {
      flex: 50%;
      max-width: 25%;
      padding: 0 4px;
    }
    
    .column img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
  
    .container {
      position: relative;
      width: 100%;
    }
    
    .image {
      /*display: block;*/
      width: 100%;
      height: auto;
    }

    /* styles for contact page

    .contact-h1{
      display: block;
      justify-content: center;
      align-items: center;
    }
    */

    .Title{
      display: flex;
      font-size: 40px;
      padding-left: 0%;
      color: whitesmoke;
      justify-content: center;
      padding-bottom: 30px;
    }
    .container{
      margin-top: 20px;
      display: block;
    }

    .main-contact{
      display: flex;
      justify-content: center;
      align-items: center;

    }

    .contact{
      display: flex;
      height: 60vh;
      width: 30vw;


    }

    legend {
      background-color:tomato;
      color: #fff;
      padding: 3px 6px;
      margin-left: 30%;
  }
  
  .output {
      font: 1rem 'Fira Sans', sans-serif;
  }
  
  input {
      margin: .4rem;
  }


    label, textarea {
    font-size: 15px;
    letter-spacing: 2px;
    color: #ccc;
}
    textarea {
    padding: 20px ;
    line-height: 1.2;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

/* End of contact*/

    footer{
        background-color: #333;
        color: whitesmoke;
        text-align: center;
        padding: 40px 0;
        margin-top: 10%;
        width: 100vw;
    }
    
    
    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 800px) {
      .heading{
          font-size: 20px;
      }
      .column {
        flex: 50%;
        max-width: 50%;
      }

      .Title{
        display: flex;
        font-size: 15px;
        padding-left: 0%;
        color: whitesmoke;
        justify-content: center;
        padding-bottom: 30px;
      }
    }
   
    
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 550px) {

        #logo{
            display: flex;
            font-size: 20px;
        }    

        .nav-links li {
            padding-left: 10px;
            margin-right: 12px;
        }
      .heading{
        font-size: 15px;
      }
      .column {
        flex: 100%;
        max-width: 100%;
      }

      .Title{
        display: flex;
        font-size: 19px;
        padding-left: 0%;
        color: whitesmoke;
        justify-content: center;
        padding-bottom: 20px;
      }
      label, textarea {
        font-size: 15px;
        letter-spacing: 2px;
        color: #ccc;
    }
        textarea {
        margin-left: -60px;
        margin-bottom: 2pt;
        padding: 2px;
        line-height: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
    }
      footer{
        background-color: #333;
        color: whitesmoke;
        text-align: center;
        padding: 40px 0;
        margin-top: 30%;
        width: 100vw;
    }
    }